table {
    border-collapse: collapse;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/border-collapse */
}

th {
    border: 3px solid black;
    margin: 0;
    padding: 0;
}
td {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
